<?xml version="1.0" encoding="windows-1252"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
 http://www.springframework.org/schema/security
 http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <beans:bean id="webexpressionHandler"
                class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler"/> 
    <beans:bean id="encoder"
                class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
                
    <http pattern="/login" security="none" />
    <http pattern="/error" security="none" />
    <http pattern="/css/**" security="none" />
    <http pattern="/js/**" security="none" />
    <http pattern="/img/**" security="none" />

    <http auto-config="true" use-expressions="false">
        <form-login login-processing-url="/j_spring_security_check"
                    login-page="/login"
                    authentication-failure-url="/login?login_error=1"/>
       
        <!--Non-users/mods/admins, etc-->
        <intercept-url pattern="/" 
                       access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/displayHomePage" 
                       access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/displayHeroesPage" 
                       access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/displayHeroDetails" 
                       access="IS_AUTHENTICATED_ANONYMOUSLY" />
        
        <!--Superhero Stuff-->
        <intercept-url pattern="/createHero" 
                       access="ROLE_MOD" />
        <intercept-url pattern="/deleteHero" 
                       access="ROLE_ADMIN" />
        <intercept-url pattern="/displayEditHeroForm" 
                       access="ROLE_MOD" />
        <intercept-url pattern="/editHero" 
                       access="ROLE_MOD" />   
        
        <!--Location Stuff-->
        <intercept-url pattern="/displayLocationPage" 
                       access="ROLE_USER" />
        <intercept-url pattern="/createLocation" 
                       access="ROLE_MOD" />
        <intercept-url pattern="/deleteLocation" 
                       access="ROLE_ADMIN" />
        <intercept-url pattern="/displayEditLocationForm" 
                       access="ROLE_MOD" />
        <intercept-url pattern="/editLocation" 
                       access="ROLE_MOD" />   
        
        <!--Organization Stuff-->
        <intercept-url pattern="/displayOrganizationPage" 
                       access="ROLE_USER" />
        <intercept-url pattern="/createOrganization" 
                       access="ROLE_ADMIN" />
        <intercept-url pattern="/deleteOrganization" 
                       access="ROLE_ADMIN" />
        <intercept-url pattern="/displayEditOrgForm" 
                       access="ROLE_MOD" />
        <intercept-url pattern="/editOrganization" 
                       access="ROLE_MOD" />
        <intercept-url pattern="/deleteHeroFromOrg" 
                       access="ROLE_MOD" />                         
        
        <!--Sighting Stuff-->
        <intercept-url pattern="/displaySightingPage" 
                       access="ROLE_USER" />
        <intercept-url pattern="/createSighting" 
                       access="ROLE_MOD" />
        <intercept-url pattern="/deleteSighting" 
                       access="ROLE_ADMIN" />
        <intercept-url pattern="/displayEditSightingForm" 
                       access="ROLE_MOD" />
        <intercept-url pattern="/editSighting" 
                       access="ROLE_MOD" />   
        
        <!--User Stuff-->
        <intercept-url pattern="/displayUserList" 
                       access="ROLE_ADMIN" />
        <intercept-url pattern="/deleteUser" 
                       access="ROLE_ADMIN" />
        <intercept-url pattern="/displayUserForm" 
                       access="ROLE_ADMIN" />
        <intercept-url pattern="/addUser" 
                       access="ROLE_ADMIN" />     
        
        <!--Catching missed pages-->
        <intercept-url pattern="/**" 
                       access="ROLE_USER" />
    </http>
    <authentication-manager>
        <authentication-provider>
            <password-encoder ref="encoder"/>
            <jdbc-user-service id="userService"
                               data-source-ref="dataSource"
                               users-by-username-query=
 "select username, password, enabled from users where username=?"
                               authorities-by-username-query=
 "select username, authority from authorities where username=?" />
        </authentication-provider>
    </authentication-manager>
</beans:beans>